.rel{
    position: relative;
    background-color: aqua;
}
.posi{
    position: absolute;
    background-color: blue;
    margin-top: -26px;
    display:none;
}
.rel:hover .posi{
    display: inline-block;
}
